@using WebMatrix.Data;

@{
    //open database
    var db = Database.Open("BoardGame");

    var id = Request.QueryString["id"];

    //define the query to be run
    var selectQueryString = @"
        SELECT b.BGGId,
        b.Name,
        b.Description,
        YEAR(b.YearPublished) AS Year,
        ROUND(b.GameWeight,1) AS GameWeight,
        b.MinPlayers,
        b.MaxPlayers,
        b.MfgAgeRec,
        b.RankInboardgame,
        b.Family,
        b.ImagePath,
        c.Category AS CategoryName
        FROM dbo.BoardGame as b
        JOIN dbo.GameCategory as gc ON b.BGGId = gc.BGGId
        JOIN dbo.Category as c ON gc.Category = c.CategoryID
        WHERE b.BGGId = @0";

    var data = db.QuerySingle(selectQueryString, id);
}

<div class="text-center bg-light py-1 mt-2">
    <h2 class="text-center">Detail</h2>
</div>

@if (data != null)
{
    <div class="row justify-content-center mt-5">
            <div class="col-md-5">
                <div class="card h-100">
                    <img src="@data.ImagePath" class="card-img-top" alt="@data.Name" style="height:300px;object-fit:cover" />
                    <div class="card-body">
                        <h2 class="card-title"> @data.Name </h2>
                        <p class="card-text"> @data.Description </p>
                        <ul class="list-styled">
                            <li><strong> Year: </strong> @data.Year </li>
                            <li><strong> Family: </strong> @data.Family </li>
                            <li><strong> Category: </strong> @data.CategoryName </li>
                            <li><strong> Game Weight: </strong> @data.GameWeight </li>
                            <li><strong> Minimum Players: </strong> @data.MinPlayers </li>
                            <li><strong> Maximum Players: </strong> @data.MaxPlayers </li>
                            <li><strong> Age Recommend: </strong> @data.MfgAgeRec </li>
                            <li><strong> Ranking: </strong> @data.RankInboardgame </li>
                        </ul>
                        <a href="/Home/Index" class="btn btn-secondary" target="_blank">Back to Games List</a>
                    </div>
                </div>
            </div>
    </div>
}
else
{
    <h2 class=" mt-5 text-danger text-center">Ooops - That board games was not found!</h2>
}

