@using WebMatrix.Data;

@{
    //open database
    var db = Database.Open("AmazonOrders");

    var id = Request.QueryString["id"];

    //define the query to be run
    var selectQueryString = @"
        SELECT b.BGGId,
        b.Name,
        b.Description,
        YEAR(b.YearPublished) AS Year,
        ROUND(b.GameWeight,1) AS GameWeight,
        b.MinPlayers,
        b.MaxPlayers,
        b.MfgAgeRec,
        b.RankInboardgame,
        b.Family,
        b.ImagePath,
        c.Category AS CategoryName
        FROM dbo.BoardGame as b
        JOIN dbo.GameCategory as gc ON b.BGGId = gc.BGGId
        JOIN dbo.Category as c ON gc.Category = c.CategoryID
        WHERE b.BGG.Id = @0";

    var data = db.QuerySingle(selectQueryString, id);
}

<div class="text-center bg-light py-1 mt-2">
    <h2 class="text-center">Detail</h2>
</div>

@if (data != null)
{
    <div class="row justify-content-center">
        @foreach (var item in data)
        {
            <div class="col">
                <div class="card h-100">
                    <img src="@item.ImagePath" class="card-img-top" alt="@item.Name" style="height:100px;object-fit:cover" />
                    <div class="card-body">
                        <h3 class="card-title"> @item.Name </h3>
                        <p1 class="card-text"> @item.Year </p1>
                        <p1 class="card-text"> @item.Description </p1>
                        <ul class="list-styled">
                            <li><strong> Family: </strong> @item.Family </li>
                            <li><strong> Category: </strong> @item.CategoryName </li>
                            <li><strong> Game Weight: </strong> @item.GameWeight </li>
                            <li><strong> Minimum Players: </strong> @item.MinPlayers </li>
                            <li><strong> Maximum Players: </strong> @item.MaxPlayers </li>
                            <li><strong> Age Recommend: </strong> @item.MfgAgeRec </li>
                            <li><strong> Ranking: </strong> @item.RankInboardgame </li>
                        </ul>
                        <a href="/Home/Details?id=@item.BGGId" class="btn btn-secondary" target="_blank"> View Detail </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2 class="text-danger text-center">Ooops - That product was not found!</h2>
}

