@using WebMatrix.Data;


@{
    var db = Database.Open("BoardGame");
    var searchText = Request.QueryString["searchText"] ?? "";


    //define the query to be run
    var selectQueryString = @"
        SELECT b.BGGId, 
               b.Name, 
               YEAR(b.YearPublished) AS Year, 
               ROUND(b.GameWeight,1) AS GameWeight, 
               b.MinPlayers, 
               b.MaxPlayers,
               b.MfgAgeRec,
               b.RankInboardgame,
               b.Family,
               c.Category
        FROM dbo.BoardGame as b
        JOIN dbo.GameCategory as gc 
        ON b.BGGId = gc.BGGId
        JOIN dbo.Category as c
        ON gc.Category = c.Category
        WHERE b.Name LIKE '%' + @0 + '%'
        ORDER BY b.Name";


    var data = db.Query(selectQueryString, searchText);
}


<div class="text-center bg-light py-1 mt-2">
    <h2 class="text-center">Board Game Information</h2>
</div>
<form action="/Home/Index" method="get" class="row">
    <div class="col-2 mt-5 mb-2">
        <input type="text" name="searchText" value="@searchText" placeholder="Search Products..." class="form-control" />
    </div>
    <div class="col-2 mt-5 mb-2">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

    <!--Create option to view data in table mode or card mode-->
    <div class="mb-3">
        <button id="showTable" class="btn btn-outline-primary" onclick= "showTableView()">Table View</button>
        <button id="showCard" class=" btn btn-outline-secondary" onclick= "showCardView()">Card View</button>
    </div>

    <div id="tableView" style="display:block">
        @if (data.Count() > 0)
        {
            <div class="col-12">
                <table class="table table-striped" style="table-layout: fixed; width: 100%;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Year</th>
                            <th scope="col">Game Weight</th>
                            <th scope="col">Min Players</th>
                            <th scope="col">Max Players</th>
                            <th scope="col">Age Recommend</th>
                            <th scope="col">Ranking</th>
                            <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in data)
                        {
                            <tr>
                                <td>@item.BGGId</td>
                                <td>@item.Name</td>
                                <td>@item.Year</td>
                                <td>@item.GameWeight</td>
                                <td>@item.MinPlayers</td>
                                <td>@item.MaxPlayers</td>
                                <td>@item.MfgAgeRec</td>
                                <td>@item.RankInboardgame</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <h2 class="text-danger">Ooops... No board game matching records were returned!</h2>
        }
    </div>
    <div id="cardView" style="display:none">
        @if (data.Count() > 0)
        {

            foreach (var item in data)
            {
                <div class="col">
                    <div class="card col-3 m-1">
                        <img src="@item.ImagePath" class="card-img-top" alt="@item.Name" style="height:100px;object-fit:cover" />
                        <div class="card-body">
                            <h5 class="card-title">@item.Name @item.Year</h5>
                            <p class="card-text">@item.Description</p>
                            <ul class="list-styled">
                                <li><strong>Family:</strong>@item.Family</li>
                                <li><strong>Category:</strong>@item.CategoryName</li>
                                <li><strong>Game Weight:</strong>@item.GameWeight</li>
                                <li><strong>Minimum Players:</strong>@item.MinPlayers</li>
                                <li><strong>Maximum Players:</strong>@item.MaxPlayers</li>
                                <li><strong>Age Recommend:</strong>@item.MfgAgeRec</li>
                                <li><strong>Ranking:</strong>@item.RankInboardgame</li>
                            </ul>
                            <a href="/Home/Details?id=@item.BGGId" class="btn btn-secondary" target="_blank">View Detail</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
        <h2 class="text-danger">Ooops... No board game matching records were returned!</h2>
        }
    </div>
</form>
<!--Add script to choose the view option-->
<script>
    function showTableView() {
        document.getElementById("tableView").style.display = "block";
        document.getElementById("cardView").style.display = "none";
    }

    function showCardView() {
        document.getElementById("tableView").style.display = "none";
        document.getElementById("cardView").style.display = "block";
    }

</script>