@using WebMatrix.Data;


@{
    //open database
    var db = Database.Open("BoardGame");

    //show table mode by default
    var showView = Request.QueryString["showView"] ?? "table";

    //Seaching bar request user input
    var searchText = Request.QueryString["searchText"] ?? "";

    //category filter
    var selectedcategories = Request.QueryString["searchCategory"] ?? "";

    //Select all the category name from Category table in the database
    var categories = db.Query("SELECT DISTINCT Category from dbo.Category ORDER BY Category");

    //define the query to be run
    var selectQueryString = @"
        SELECT b.BGGId,
        b.Name,
        b.Description,
        YEAR(b.YearPublished) AS Year,
        ROUND(b.GameWeight,1) AS GameWeight,
        b.MinPlayers,
        b.MaxPlayers,
        b.MfgAgeRec,
        b.RankInboardgame,
        b.Family,
        b.ImagePath,
        c.Category AS CategoryName
        FROM dbo.BoardGame as b
        JOIN dbo.GameCategory as gc ON b.BGGId = gc.BGGId
        JOIN dbo.Category as c ON gc.Category = c.CategoryID
        WHERE b.Name LIKE '%' + @0 + '%'";

    //add condition when selecting the category name
    //if the variable selectcategories not an empty string - user click on the categoyry option
    if (selectedcategories != "")
    {
        //it will only run the category name start from the first order in the column name when user choose the category
        selectQueryString += " AND c.Category = @1";
    }
    //If user not choose category, it will skip and search board games and order by name
    selectQueryString += " ORDER BY b.Name ASC";

    //Execute query whether category is selected or not
    var data = (selectedcategories != "")
        //If not empty string, run the category search
        ? db.Query(selectQueryString, searchText, selectedcategories)
        //Else, run the board game detail and search functionality
        : db.Query(selectQueryString, searchText);

}

@functions{
    string IsSelected(string val)
    {
        string s = null;
        if (Request.Form["category"] == val) { s = "selected"; }
        return s;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!--Link the css file to the page for styling-->
    <link rel="stylesheet" href="/Content/Site.css">
</head>
<body>
    <div class="text-center bg-light py-1 mt-2">
        <h2 class="text-center">Board Game Information</h2>
    </div>
    <div class="mt-5 mb-3 text-center">
        <p>Search and explore your favorite board games!</p>
    </div>
    <form action="/Home/Index" method="get" class="row">
        <input type="hidden" id="showView" name="showView" value="@showView" />
        <div class="col-2 mt-5 mb-2 justify-content-start">
            <input type="text" name="searchText" value="@searchText" placeholder="Search Products..." class="form-control" />
        </div>
        <div class="col-2 mt-5 mb-2">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>

        <div class="col-10 mt-2 mb-2">
            <div class="d-flex gap-4">
                <select name="searchCategory" class="form-control">
                    <option value="" @IsSelected("")>All Categories</option>
                    @foreach (var cat in categories)
                    {
                        var catName = cat.Category;
                        <option value="@catName" @(catName == selectedcategories ? "selected" : "")>@catName</option>
                    }
                </select>
                <button type="submit" class="btn btn-primary">Search</button>

            </div>
        </div>
        <!--Create button options to view data in table mode or card mode-->
        <div class="col-10 mt-1 mb-2 d-flex justify-content-end gap-2">
            <button type="submit" id="showTable" class="btn btn-outline-primary" onclick="document.getElementById('showView').value = 'table'">Table View</button>
            <button type="submit" id="showCard" class=" btn btn-outline-secondary" onclick="document.getElementById('showView').value = 'card'">Card View</button>
        </div>

        <!--Show table view and card view details-->
        @if (data.Count() > 0)
        {   
            if (showView == "table")
            {
                <div id="tableView">
                    <div class="col-12">
                        <table class="table table-striped" style="table-layout: fixed; width: 100%;">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Year</th>
                                    <th scope="col">Game Weight</th>
                                    <th scope="col"> Min Players</th>
                                    <th scope="col"> Max Players</th>
                                    <th scope="col"> Age Recommend</th>
                                    <th scope="col"> Ranking </th>
                                    <th scope="col"> Details </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in data)
                                {
                                    <tr>
                                        <td> @item.BGGId </td>
                                        <td> @item.Name </td>
                                        <td> @item.Year </td>
                                        <td> @item.GameWeight </td>
                                        <td> @item.MinPlayers </td>
                                        <td> @item.MaxPlayers </td>
                                        <td> @item.MfgAgeRec </td>
                                        <td> @item.RankInboardgame </td>
                                        <td>
                                            <a href="/Home/Details?id=@item.BGGId" class="btn btn-sm btn-secondary">View Detail</a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else if (showView == "card")
            {
                <div id="cardView">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        @foreach (var item in data)
                        {
                            <div class="col">
                                <div class="card h-100">
                                    <img src="@item.ImagePath" class="card-img-top" alt="@item.Name" style="height:100px;object-fit:cover" />
                                    <div class="card-body">
                                        <h3 class="card-title"> @item.Name </h3>
                                        <p1 class="card-text"> @item.Description </p1>
                                        <ul class="list-styled">
                                            <li><strong> Year: </strong> @item.Year </li>
                                            <li><strong> Family: </strong> @item.Family </li>
                                            <li><strong> Category: </strong> @item.CategoryName </li>
                                            <li><strong> Game Weight: </strong> @item.GameWeight </li>
                                            <li><strong> Minimum Players: </strong> @item.MinPlayers </li>
                                            <li><strong> Maximum Players: </strong> @item.MaxPlayers </li>
                                            <li><strong> Age Recommend: </strong> @item.MfgAgeRec </li>
                                            <li><strong> Ranking: </strong> @item.RankInboardgame </li>
                                        </ul>
                                        <a href="/Home/Details?id=@item.BGGId" class="btn btn-secondary" target="_blank"> View Detail </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
        else
        {
            <h2 class="text-danger text-center">Oops! No matching boarding games returned...</h2>
        }
    </form>
</body>
</html>
